.Rproj.user
.Rhistory
*.RData
mydas-pkg.Rproj
.Rproj.user
.Rhistory
.RData
.Ruserdata
**/demo
**/data
**/documents
**/inputs
**/*.RData
**/*.csv
**/*.log
**/*.aux
**/*.toc
**/*.backup
**/*.gz
_rslurm_test_apply
_rslurm_randomD
wiki
tex
cache
